<footer>
    <div class="container-fluid pl-25">
        <p>Copyright © @(DateTime.Now.Year), Data &amp; Object Factory, LLC. 
                   www.dofactory.com - All rights reserved.</p>
    </div>
    
</footer>
